---
apiVersion: v1
kind: Secret
metadata:
 name: grafana
 namespace: @@ISTIO_NAMESPACE@@
 labels:
   app: grafana
type: Opaque
data:
 username: @@ISTIO_GRAPHANA_USERNAME@@
 passphrase: @@ISTIO_GRAPHANA_PASSPHRASE@@
---
