---
apiVersion: v1
kind: Secret
metadata:
 name: kiali
 namespace: @@ISTIO_NAMESPACE@@
 labels:
   app: kiali
type: Opaque
data:
 username: @@ISTIO_KIALI_USERNAME@@
 passphrase: @@ISTIO_KIALI_PASSPHRASE@@
---
