.vagrant
.terraform
private.tfvars
temp*.*
test*.*
*.tfstate
*.tfstate.backup
**/states
**/meta
*.log
**/ssh-keys/*.bak
**/cluster/*.bak
**/cluster/ssh_key
**/cluster/config.yaml
**/plan/*
README.md.draft
