.vagrant
.terraform
private.tfvars
docker-secret-cam-ce-priv.sh
temp*.*
test*.*
*.tfstate
*.tfstate.lock.info
*.tfstate.backup
**/states
**/meta
*.log
ssh-keys/
cluster/**/*.bak
cluster/**/ssh_key
cluster/**/config.yaml
plan/
README.md.draft
