{
  "_comment": "Use this image only for Bionic Hosts. Configured for LVM support",
  "builders": [
    {
        "image": "@@LXD_BASE_IMAGE_NAME@@",
        "name": "@@NFS_LXD_IMAGE_NAME@@",
        "output_image": "@@NFS_LXD_IMAGE_NAME@@",
        "init_sleep": "15",
        "profile": "@@ICP_LXD_PROFILE_NAME@@",
        "publish_properties": {
          "description": "@@NFS_LXD_IMAGE_PUB_DESC@@"
        },
        "type": "lxd"
    }
  ],
  "post-processors": [],
  "provisioners": [
    {
      "inline": [
        "echo [Diabling UFW]",
        "bash -c 'ufw disable &> /dev/null'",
        "echo Waiting for container to settle down ...",
        "bash -c 'sleep 10'",
        "echo [Updating packages]",
        "bash -c 'apt-get -y update &> /dev/null'",
        "bash -c 'apt-get -y upgrade &> /dev/null'",
        "bash -c 'apt install -y ntp curl wget resolvconf nfs-kernel-server nfs-common unzip &> /dev/null'",
        "echo [Updating nameserver]",
        "bash -c 'echo nameserver 8.8.8.8 >> /etc/resolvconf/resolv.conf.d/head'",
        "bash -c 'echo nameserver 8.8.4.4 >> /etc/resolvconf/resolv.conf.d/head'",
        "bash -c 'resolvconf -u'",
        "bash -c 'mkdir -p @@NFS_SHARED_DEVICE_PATH@@'",
        "bash -c 'mkdir -p @@NFS_DEVICE_PATH@@'",
        "echo [Package update complete]"
      ],
      "type": "shell"
    }
  ]
}
