---
apiVersion: v1
kind: PersistentVolume
metadata:
   name: @@PV_NAME@@-pv
   labels:
       type: @@PV_NAME@@
spec:
   capacity:
      storage: @@PV_SIZE@@Gi
   accessModes:
      - @@ACCESS_MODES@@
   persistentVolumeReclaimPolicy: @@RECLAIM_POLICY@@
   nfs:
      server: @@NFS_SERVER_IP@@
      path: /nfs/@@VOL_NAME@@
